.signIn{
    position: relative;
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../svgs/logo1.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto;
    padding-right: 3rem;
}

.e3{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px #000;
}

.logoSignIn{
    width: 45%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    transform: scale(0.7);
}

.logoSignIn h2{
    width: 110%;
    text-align: start;
    color: #838383;
}

.form{
    width: 55%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form input{
    width: 90%;
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 2.8em;
    border-radius: 1.4em;
    border: none;
    padding: 0px 2em;
    color: #838383;
    box-shadow: 0.7em 0.7em 2em rgba(0,0,0,0.3);
}

.form input:nth-child(1){
    margin-bottom: -0.3em;
}

.form input:focus{
    outline: none;
}

.signin,.signup,.forgetPassword{

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.forgetPassword{
    position: relative;
    top: -2em;
    width: 40%;
    height: 2.5em;
    font-size: 1rem;
    font-weight: 600;
    color: #838383;
    background-color: transparent;
    border-radius: 1.25em;
}

.signin{
    width: 45%;
    height: 2.8em;
    font-size: 1.7rem;
    text-decoration: none;
    border-radius: 1.5em;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.3);
}

.signin{
    background-color: #5600E7;
    color: #fff;
    font-weight: 500;
    margin-bottom: -0.4em;
}

p{
    position: relative;
    top: -5.5em;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    font-weight: 600;
    color: #838383;
}

.signup{
    width: auto;
    height: auto;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: none;
    color: #5600E7;
    font-weight: bold;
    margin-left: 0.5em;
    background-color: transparent;
}

@media screen and (max-width:850px) {
    .signIn{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0px;
    }
    .form,.logoSignIn{
        width: 110%;
        align-self: center;
        padding: auto 0px;
        margin: 0px;
    }
    .logoSignIn{
        transform: scale(0.4);
        margin-top: -7em;
        margin-bottom: -8em;
        pointer-events: none;
    }
    .form{
        height: 17em;
        width: 100%;
    }
    .form input{
        font-size: 0.9rem;
        text-align: center;
        width: min(85%,21em);
        box-shadow: 0px 0px 2em 1em rgba(0,0,0,0.05);
    }
    .form input:nth-child(1){
        margin-bottom: -1.7em;
    }
    .forgetPassword{
        background-color: transparent;
        box-shadow: none;
        font-size: 0.8rem;
        padding: 0;
        position: relative;
        top: -2.2em;
    }
    h2,.exit{
        display: none;
        pointer-events: none;
    }
    .signin{
        position: relative;
        top: -0.5em;
        font-size: 1rem;
        width: min(35%,10em);
        font-weight: bolder;
        letter-spacing: 1px;
        height: 2.5em;
        box-shadow: 0px 0px 2em 1em rgba(0,0,0,0.05);
    }
    .signup{
        font-weight: bolder;
        font-size: 0.8rem;
    }
    p{
        position: relative;
        top: -5em;
        font-size: 0.8rem;
    }
}