@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

#about {
  font-family: "Varela Round", sans-serif;
  color: rgb(48, 46, 46);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  width: 12em;
  height: 12em;
  object-fit: contain;
}
